* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* HEADER */

#banner {
	background-image: url("../image/large.jpg");
	background-position: center;
    background-position-y: 0%;
    background-size: cover;
    position: relative;
}
.navbar-brand {
	color: #01a2e2;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
    background-color: rgba(16, 56, 144, 0.86);
    color: white;
    font-weight: bold;
}

header a,strong {
	color: white;
}

#banner:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(80, 98, 119, 0.53);
}

/* titulo principal */

.principal {
	background-color: transparent;
	color: white;
	position: relative;
	padding: 18% 18% 5%;
}

.jumbotron h1 {
	font-size: 43px;
}

/* franja oferta */

.franja {
    background-color: rgba(34, 131, 251, 0.85);
    color: white;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

.franja .btn {
	background-color: transparent;
    border: 1px solid white;
    border-radius: 4%;
    font-size: 22px;
    margin: 4% 0% 4% 2%;
}

.franja .prueba {
	padding-left: 30%;
	line-height: 0.5;
}

/* section */
/* article servicios */
#servicios .row {
	padding: 8% 5% 1% 5%;
}

h2 {
	color: #57B5FD;
	margin-bottom: 5%;
}

#servicios .icon {
	font-size: 40px;
	color: #49A6EE;
}

#servicios .badge {
	border-radius: 50%;
    padding: 15%;
    background-color: transparent;
	-webkit-box-shadow: -3px 4px 11px -2px rgba(9, 31, 58, 0.5);
	margin-bottom: 5%;
	margin-bottom: 15%;
}

#servicios h3 {
	color: #061A53;
}

#servicios {
	padding-bottom: 5%;
}

.separador {
	position: relative;
    top: 68px;
}

/* article #uso */

.logo {
	width: 50%;
}

.flecha {
	padding: 2% 40%;
}

.video {
	width: 100%;
}

#uso .ejemplo {
	padding:7% 0% 7% 0%;
	border-bottom: 1px solid #b6cdf5;
}

.pedido {
	padding: 0%;
	position: relative;
}

.sec {
	background-image: url("../image/sec-2.jpg");
	background-position: center;
    background-position-x: 1%;
    background-size: cover;
    position: relative;
    height: 460px;
}

.sec:before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(60, 76, 80, 0.65);
}

.pasos {
	padding-left: 4%;
}

.pasos h4 {
	color: #49A6EE;
	font-size: 15px;
	padding-top: 4%;
}

.content-icon {
	position: absolute;
    line-height: 11;
    left: 47%;
    right: 50%;	
}

#uso .icono {
	background-color: #43b3ff;
    font-size: 30px;
    border-radius: 50%;
    padding: 13px;
    color: white;
}



/* article why */

.pasos ul li,
 #why ul li  {
	margin-left: 4%;
	line-height: 30px;
}

.banner {
	width: 100%;
}

#why {
	padding-top: 5%;
}

#why .franja {
	margin-top: 10%;
}

/* footer contacto */

footer {
	background-color: #101a29;
	padding: 3% 0% 2%;
	color: white;
	line-height: 2.5;
}

.icon {
	font-size: 35px;
	padding-left: 5%;
}

footer a:hover,
footer a:focus {
	text-decoration: none;
}

